.header-wrapper{
    padding: 15px 10px;
    text-align: $__right;
    @include respond-below(custom767){
        text-align: $__right;
    }
    .left-side{
        .nav-menu{
            cursor: $__pointer;
            outline: $__none;
            border: $__none;
            background: $__transparent;
            color: $__primary__color;
            span{
                font-size: $__font__size__30;
            }
        }
    }
}

